<form method="POST" action="/add_recommendation">

<input name="invoice_no" placeholder="Invoice No"><br>
<input name="date" type="date"><br>
<input name="car_plate" placeholder="Car Plate"><br>
<input name="package_name" placeholder="Package Name"><br>
<input name="sales_person" placeholder="Sales By"><br>
<input name="payment_amount" placeholder="Payment Amount"><br>

<select name="payment_transfer">
    <option>Pending</option>
    <option>Paid</option>
</select>

<button type="submit">Save</button>

</form>
