<!DOCTYPE html>
<html>
<head>
<title>Receipt</title>

<style>

body{
    font-family: monospace;
    width:180px;
    margin:auto;
    font-size:14px;
}

.company{
    text-align:center;
    font-weight:bold;
    font-size:18px;
}

.center{
    text-align:center;
}

.line{
    width:100%;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
}

hr{
    border-top:1px dashed black;
}

.buttons{
    text-align:center;
    margin-top:10px;
}

@media print{

.no-print{
display:none;
}

body{
width:180px;
}

}

</style>
</head>

<body>

<div class="company">
SHINE MASTER SOLUTION<br>
</div>

<div class="center">
-----------------<br>
Reg.no:202603063234<br>
   (SA0650100-H)<br>
No.68 Jalan Putra 1<br>
Taman Tan Sri Yaacob<br>
81300 Skudai, Johor<br>
Tel: +6018-2096907
</div>

<hr>

<div class="line">
<span class="left">Invoice</span>
<span class="right">{{ order["invoice_no"] }}</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Date</span>
<span class="right">{{ order["date"] }}</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Time</span>
<span class="right">{{ order["time"] }}</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Order</span>
<span class="right">#00{{ order["id"] }}</span>
<div class="clear"></div>
</div>

<hr>

<div class="line">
<span class="left">Car Plate</span>
<span class="right">{{ order["car_plate"] }}</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Car Type</span>
<span class="right">{{ order.get("car_type","-") }}</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Service</span>
<span class="right">{{ order["service_type"] }}</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Payment</span>
<span class="right">{{ order["payment_method"] }}</span>
<div class="clear"></div>
</div>

<hr>

<div class="line">
<span class="left"><strong>Total</strong></span>
<span class="right"><strong>RM {{ "%.2f"|format(order["price"]) }}</strong></span>
<div class="clear"></div>
</div>

<hr>

<p><strong>Loyalty Status</strong></p>

{% if order["loyalty_free"] %}

<p class="center">
🎉 FREE WASH TODAY 🎉
</p>

{% elif order["loyalty_eligible"] %}

<p>Eligible for Free Wash</p>

{% else %}

<p>Not Eligible Yet</p>

{% endif %}

<p>Paid Washes: {{ order["loyalty_count"] }} / 5</p>

<hr>

<p class="center">
Thank You For Your Supports!<br>
Hope To See You Again 🚗
</p>

<div style="text-align:center;margin-top:20px">

<b>BOOK YOUR NEXT SERVICE</b><br>

{% if order %}
<img src="https://api.qrserver.com/v1/create-qr-code/?size=140x140&data=https://shinemaster-system-production.up.railway.app/booking?plate={{order.car_plate}}">
{% elif sale %}
<img src="https://api.qrserver.com/v1/create-qr-code/?size=140x140&data=https://shinemaster-system-production.up.railway.app/booking?plate={{sale.car_plate}}">
{% endif %}

<p>Scan to reserve your time slot 🚗</p>

</div>

<div class="buttons no-print">

<button onclick="printLocal()">Print (PC)</button>

<br><br>

<button onclick="printBluetooth()">Bluetooth Print</button>

<br><br>

<a href="{{ url_for('home') }}" style="
padding:8px 15px;
background:#4CAF50;
color:white;
text-decoration:none;
border-radius:5px;
font-weight:bold;
">
New Order
</a>

</div>


<script>

function printLocal(){
    window.print();
}


// Simple Bluetooth print (Android)

function printBluetooth(){

let receipt = `
SHINE MASTER SOLUTION
---------------------
Reg.no:202603063234
   (SA0650100-H)
---------------------
Invoice: {{ order["invoice_no"] }}
Date: {{ order["date"] }}
Time: {{ order["time"] }}

Car Plate: {{ order["car_plate"] }}
Service: {{ order["service_type"] }}

Total: RM {{ "%.2f"|format(order["price"]) }}

Paid Wash: {{ order["loyalty_count"] }}/5
Thank You For Your Supports,Hope To See You Again, (^^,)b
`;

let url = "rawbt://print?text=" + encodeURIComponent(receipt);

window.location.href = url;

}


// Auto print when receipt opens

window.onload = function(){

setTimeout(function(){
window.print();
},500);

}

</script>

</body>
</html>
