<!DOCTYPE html>
<html>
<head>
<title>Discount Voucher</title>

<style>
body{
    font-family: monospace;
    width:180px;
    margin:auto;
    font-size:14px;
}

.center{text-align:center;}
.line{width:100%;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

hr{
    border-top:1px dashed black;
}

@media print{
    body{width:180px;}
}
</style>
</head>

<body>

<p class="center"><strong>DISCOUNT VOUCHER</strong></p>

<div class="center">
SHINE MASTER SOLUTION<br>
-----------------
</div>

<hr>

<div class="line">
<span class="left">Date</span>
<span class="right">2026-05-03</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Time</span>
<span class="right">04:24:55</span>
<div class="clear"></div>
</div>

<hr>

<div class="line">
<span class="left">Invoice</span>
<span class="right">INV-20260503-1</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Car Plate</span>
<span class="right">JMY7883</span>
<div class="clear"></div>
</div>

<div class="line">
<span class="left">Service</span>
<span class="right">CAR WASH - BASIC</span>
<div class="clear"></div>
</div>

<hr>

<div class="line">
<span class="left"><strong>Discount Given</strong></span>
<span class="right"><strong>RM 8.00</strong></span>
<div class="clear"></div>
</div>

<hr>

<p class="center">
APPROVED DISCOUNT<br>
Counter Record Copy
</p>

<hr>

<p class="center">
Thank You 🚗
</p>

</body>
</html>
